@import '~antd/dist/antd.css';
.wode-nav {
	/*width: 80%;
	margin: 0 auto;*/
	padding: 0 10%;
	background-color: rgba(64, 64, 64, .3);
	border-bottom: 1px solid rgba(64, 64, 64, .3) !important;
	font-size: 1.3em;
}
.wode-nav-right {
	float: right !important;
}

.wode-content-input {
	width: 50%;
	margin: 200px auto;
	display: block;
}

.wode-video-message {
	padding: 10px 16px;
	text-align: center;
	overflow: hidden;
}
.wode-result-left {
	margin-left: 5%;
	float: left;
	width: 300px;
	margin-right: 20%;
}
.wode-result-right {
	float: left;
}

.wode-list-content {
	overflow: hidden;
}
.wode-listCard {
	float: left;
	margin-left: 3%;
	width: 30%;
	/*margin-top: 20px;*/
}
.wode-br-div {
	float: left;
	display: block;
	width: 100%;
	height: 30px;
	/*background-color: #ddd;*/
}

.wode-footer-copyright {
	margin-top: 20px;
	width: 100%;
	padding: 20px 0 25px;
  text-align: center;
  color: #f2dede;
  clear: both;
}